extends ../layouts/master.jade

append titlePage
  title Cosmos Explore

append body
  +body(class="page-header-fixed page-quick-sidebar-over-content")

append body-contents
  include ../includes/header.jade
  
  .page-container.blocks-page
    .page-content-wrapper
      
      .page-content
        .main-body-content.container
          .cos-notice.custom-page-title
            h2.page-title Blocks
            div.blocks-status
              div.status-items
                span Price : 
                | $
                | 3.42
              div.status-items
                span Height : 
                | 2,438,169
              div.status-items
                div(data-toggle='tooltip', data-placement="bottom", title='Total amount of bonded tokens in the network.')
                  span Bonded : 
                  | 180,622,848
              div.status-items
                span Inflation : 
                | 7.38%
          .main-md-content.md-full
            .cos-table-item.md-full
              .cos-item-content.md-full
                .cos-table-list
                  .table-responsive
                    table.table.table-striped.table-bordered.table-hover.text-center
                      thead
                        tr
                          th Height
                          th.text-left Block Hash
                          th.text-left Proposer
                          th Txs
                          th.text-right Time
                      tbody
                        tr
                          td 
                            a(href="detail_blocks.html") 2400169
                          td.text-left 
                            a(href="detail_blocks.html") POS Bakerz
                          td.text-left 
                            a(href="#") POS Bakerz
                          td 1
                          td.text-right
                            p 2019-11-01 14:18:47
                            p.cos-note (37s ago)
                        tr
                          td 
                            a(href="detail_blocks_2.html") 2400168
                          td.text-left 
                            a(href="detail_blocks_2.html") Cosmostation
                          td.text-left 
                            a(href="#") Cosmostation
                          td 2
                          td.text-right 
                            p 2019-11-01 14:18:47
                            p.cos-note (37s ago)
                        tr
                          td 
                            a(href="#") 2400169
                          td.text-left 
                            a(href="#") POS Bakerz
                          td.text-left 
                            a(href="#") POS Bakerz
                          td 1
                          td.text-right
                            p 2019-11-01 14:18:47
                            p.cos-note (37s ago)
                        tr
                          td 
                            a(href="#") 2400168
                          td.text-left 
                            a(href="#") Cosmostation
                          td.text-left 
                            a(href="#") Cosmostation
                          td 2
                          td.text-right 
                            p 2019-11-01 14:18:47
                            p.cos-note (37s ago)
                        tr
                          td 
                            a(href="#") 2400169
                          td.text-left 
                            a(href="#") POS Bakerz
                          td.text-left 
                            a(href="#") POS Bakerz
                          td 1
                          td.text-right
                            p 2019-11-01 14:18:47
                            p.cos-note (37s ago)
                        tr
                          td 
                            a(href="#") 2400168
                          td.text-left 
                            a(href="#") Cosmostation
                          td.text-left 
                            a(href="#") Cosmostation
                          td 2
                          td.text-right 
                            p 2019-11-01 14:18:47
                            p.cos-note (37s ago)
                        tr
                          td 
                            a(href="#") 2400169
                          td.text-left 
                            a(href="#") POS Bakerz
                          td.text-left 
                            a(href="#") POS Bakerz
                          td 1
                          td.text-right
                            p 2019-11-01 14:18:47
                            p.cos-note (37s ago)
                        tr
                          td 
                            a(href="#") 2400168
                          td.text-left 
                            a(href="#") Cosmostation
                          td.text-left 
                            a(href="#") Cosmostation
                          td 2
                          td.text-right 
                            p 2019-11-01 14:18:47
                            p.cos-note (37s ago)
                        tr
                          td 
                            a(href="#") 2400169
                          td.text-left 
                            a(href="#") POS Bakerz
                          td.text-left 
                            a(href="#") POS Bakerz
                          td 1
                          td.text-right
                            p 2019-11-01 14:18:47
                            p.cos-note (37s ago)
                        tr
                          td 
                            a(href="#") 2400168
                          td.text-left 
                            a(href="#") Cosmostation
                          td.text-left 
                            a(href="#") Cosmostation
                          td 2
                          td.text-right 
                            p 2019-11-01 14:18:47
                            p.cos-note (37s ago)
                        tr
                          td 
                            a(href="#") 2400169
                          td.text-left 
                            a(href="#") POS Bakerz
                          td.text-left 
                            a(href="#") POS Bakerz
                          td 1
                          td.text-right
                            p 2019-11-01 14:18:47
                            p.cos-note (37s ago)
                        tr
                          td 
                            a(href="#") 2400168
                          td.text-left 
                            a(href="#") Cosmostation
                          td.text-left 
                            a(href="#") Cosmostation
                          td 2
                          td.text-right 
                            p 2019-11-01 14:18:47
                            p.cos-note (37s ago)
                        tr
                          td 
                            a(href="#") 2400169
                          td.text-left 
                            a(href="#") POS Bakerz
                          td.text-left 
                            a(href="#") POS Bakerz
                          td 1
                          td.text-right
                            p 2019-11-01 14:18:47
                            p.cos-note (37s ago)
                        tr
                          td 
                            a(href="#") 2400168
                          td.text-left 
                            a(href="#") Cosmostation
                          td.text-left 
                            a(href="#") Cosmostation
                          td 2
                          td.text-right 
                            p 2019-11-01 14:18:47
                            p.cos-note (37s ago)
                        tr
                          td 
                            a(href="#") 2400169
                          td.text-left 
                            a(href="#") POS Bakerz
                          td.text-left 
                            a(href="#") POS Bakerz
                          td 1
                          td.text-right
                            p 2019-11-01 14:18:47
                            p.cos-note (37s ago)
                        tr
                          td 
                            a(href="#") 2400168
                          td.text-left 
                            a(href="#") Cosmostation
                          td.text-left 
                            a(href="#") Cosmostation
                          td 2
                          td.text-right 
                            p 2019-11-01 14:18:47
                            p.cos-note (37s ago)
                  .well
                    .note-pagination
                      span 1-20 of 2402038
                    .pagination-wrapper
                      ul.pagination
                        li.first
                          a.cursor-none(href='#')
                            svg(focusable='false', viewBox='0 0 24 24', aria-hidden='true', role='presentation')
                              path(d='M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z')
                              path(fill='none', d='M24 24H0V0h24v24z')
                        li.prev
                          a.cursor-none(href='#')
                            svg(focusable='false', viewBox='0 0 24 24', aria-hidden='true', role='presentation')
                              path(d='M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z')
                              path(fill='none', d='M0 0h24v24H0V0z')
                        li.next
                          a(href='#')
                            svg(focusable='false', viewBox='0 0 24 24', aria-hidden='true', role='presentation')
                              path(d='M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z')
                              path(fill='none', d='M0 0h24v24H0V0z')
                        li.last
                          a(href='#')
                            svg(focusable='false', viewBox='0 0 24 24', aria-hidden='true', role='presentation')
                              path(d='M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z')
                              path(fill='none', d='M0 0h24v24H0V0z')

            // .block-1
          // .member-main
      // .page-content
    // .member
  //.page-container
  
  ="\n"
  include ../includes/footer.jade

