extends ../layouts/master.jade

append titlePage
  title Cosmos Explore

append body
  +body(class="page-header-fixed page-quick-sidebar-over-content")

append body-contents
  include ../includes/header.jade
  
  .page-container.blocks-detail-page
    .page-content-wrapper
      
      .page-content
        .main-body-content.container
          .cos-notice.custom-page-title
            h2.page-title 
              | Details for Block #
              span 2438782
          .main-md-content.md-full
            .cos-table-item.md-full
              .cos-item-content.md-full
                div
                  h4.card-title.under-line Header
                .header-info
                  .header-info-item
                    .info-label-title Height
                    .info-label 2438782
                  .header-info-item
                    .info-label-title Block Time
                    .info-label 25s ago ( 2019-11-04 16:16:45 )
                  .header-info-item
                    .info-label-title Block Hash
                    .info-label F0AF86CB9C7C49A1584FAEE2AD683073409E1F0C68F262E6952150D1908EFACE
                  .header-info-item
                    .info-label-title Number of Transactions
                    .info-label 1
                  .header-info-item
                    .info-label-title Proposer
                    .info-label
                      a(href="#") DokiaCapital
              .cos-item-content.md-full
                div
                  h4.card-title Transactions
                .cos-table-list
                  .table-responsive
                    table.table.table-striped.table-bordered.table-hover.text-center
                      thead
                        tr
                          th Tx Hash
                          th Type
                          th Result
                          th.text-right Amount
                          th.text-right Fee
                          th.text-right Height
                          th.text-right Time
                      tbody
                        tr
                          td
                            a(href="#") 2400169
                          td
                            span.type Send
                          td
                            div.success
                              | Success
                          td.text-right
                            span
                              span.big-sz 2,400.
                              span.small-sz 000000
                            span.purple ATOM
                          td.text-right
                            span
                              span.big-sz 0.
                              span.small-sz 002000
                            span.purple ATOM
                          td.text-right
                            a(href="#") 2438999
                          td.text-right
                            | 3m ago
                        tr
                          td
                            a(href="#") 2400169
                          td
                            span.type Send
                          td
                            div.success
                              | Success
                          td.text-right
                            span
                              span.big-sz 2,400.
                              span.small-sz 000000
                            span.purple ATOM
                          td.text-right
                            span
                              span.big-sz 0.
                              span.small-sz 002000
                            span.purple ATOM
                          td.text-right
                            a(href="#") 2438999
                          td.text-right
                            | 3m ago
                  .well
                    .row-per-page
                      span Rows per page:
                      .select-option
                        .dropdown
                          button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                              span 5
                              span.caret
                          ul.dropdown-menu
                              li
                                a(href='#') 
                                  span 10
                              li
                                a(href='#') 
                                  span 15
                              li
                                a(href='#') 
                                  span 20
                              li
                                a(href='#') 
                                  span 25
                              li
                                a(href='#') 
                                  span 30
                    .note-pagination
                      span 1-1 of 1
                    .pagination-wrapper
                      ul.pagination
                        li.first
                          a.cursor-none(href='#')
                            svg(focusable='false', viewBox='0 0 24 24', aria-hidden='true', role='presentation')
                              path(d='M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z')
                              path(fill='none', d='M24 24H0V0h24v24z')
                        li.prev
                          a.cursor-none(href='#')
                            svg(focusable='false', viewBox='0 0 24 24', aria-hidden='true', role='presentation')
                              path(d='M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z')
                              path(fill='none', d='M0 0h24v24H0V0z')
                        li.next
                          a(href='#')
                            svg(focusable='false', viewBox='0 0 24 24', aria-hidden='true', role='presentation')
                              path(d='M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z')
                              path(fill='none', d='M0 0h24v24H0V0z')
                        li.last
                          a(href='#')
                            svg(focusable='false', viewBox='0 0 24 24', aria-hidden='true', role='presentation')
                              path(d='M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z')
                              path(fill='none', d='M0 0h24v24H0V0z')
            // .block-1
          // .member-main
      // .page-content
    // .member
  //.page-container
  
  ="\n"
  include ../includes/footer.jade

