extends ../layouts/master.jade

append titlePage
  title Cosmos Explore

append body
  +body(class="page home")

append body-contents
  include ../includes/header.jade

  ="\n"
  .page-content-wrapper
    .page-content
      section.banner
        .content-block
          .cnt-hero(data-animate="ts-fadeInLeft" data-delay=".2s")
            .text-hero
              |heroes market
            .ts-background(data-bg-parallax="scroll" data-bg-parallax-speed="3")
              .ts-background-image.ts-parallax-element(data-bg-image="../../assets/images/hh02.png" data-animate="ts-zoomOutIn")
          div.blocks-status(data-animate="ts-fadeInLeft" data-delay=".2s")
            div.status-items
              .title Height
              .number 6,307,968
            div.status-items
              .title Transaction
              .number 932,401
            div.status-items
              .title Bonded Tokens
              .number 70,84%
            .ts-background(data-bg-parallax="scroll" data-bg-parallax-speed="3")
              .ts-background-image.ts-parallax-element(data-bg-image="../../assets/images/hh01.png" data-animate="ts-zoomOutIn")
      section.list-content
        .container
          include ../includes/page-sidebar-left.jade
          .content-home
            .content-page-home
              .cnt-img-logo
                img( src="../../assets/images/janken.png" alt="menu")
              .cnt-img-title
                img( src="../../assets/images/title.png" alt="menu")
              .text-bit-nft
                h3 Bit your NFTs or 
              ul 
                li
                  a(href="#") Bit NFT
                li
                  a(href="#") Bit Token
          // .member-main
    // .page-content
  // .member
  //.page-container
  ="\n"
  include ../includes/footer.jade
  ="\n"
