extends ../layouts/master.jade

append titlePage
  title Cosmos Explore

append body
  +body(class="page home")

append body-contents
  .page-detail
    include ../includes/header.jade

    ="\n"
    .page-content-wrapper
      .page-content
        .content-detail
          .container
            .row
              .col-md-5
                .content-left
                  .back-link
                    a(href="#")
                      .icon
                        img(src="../../assets/images/icon-back.png" alt="Hero")
                      span Back
                  .balance-cnt
                    .cnt-balance
                      span.title
                        |balance
                      span.number 0
                  .cnt-title-character
                    h3 Serenity helmet
                  .thumbnails
                    .thumb
                      .img-nv
                        img( src="../../assets/images/nv1.png" alt="menu")
                      .img-circle
                        img( src="../../assets/images/ic-cc-blue.png" alt="menu")

              .col-md-7
                .content-right
                  .cnt-detail-top
                    .cnt-top
                      .cnt-left
                        .id-cnt #1250
                      .cnt-center
                        .cnt-tau
                          .icon
                            img( src="../../assets/images/bitcon.png" alt="menu")
                          span.text 12 TAU
                          .cnt-dolar =  $16.234
                      .cnt-right
                        button.btn.btn-clear-filter Buy now
                    .contet-center-status
                      .blocks-status(data-animate="ts-fadeInLeft" data-delay=".2s")
                        div.status-items
                          .title level
                          .sub-title 12
                        div.status-items
                          .title Type
                          .sub-title.blue.bold Head gear
                        div.status-items
                          .title Rarity
                          .sub-title Common
                    .cnt-infor-character
                      .cnt-infor
                        .title-top
                          h3
                            |status
                            span.number (56 
                            span.green +11)
                        .cnt-detail-chara
                          .list-level
                            ul
                              li
                                .cnt-item-level
                                  .icon
                                    img( src="../../assets/images/cc-yellow.png" alt="menu")
                                  .cnt 
                                    span Attack:12
                                    span.green +11
                              li
                                .cnt-item-level
                                  .icon
                                    img( src="../../assets/images/cc-green.png" alt="menu")
                                  .cnt 
                                    span HP:12
                                    span.green +11
                              li
                                .cnt-item-level
                                  .icon
                                    img( src="../../assets/images/cc-green.png" alt="menu")
                                  .cnt 
                                    span DEF:12
                                    span.green +11
                              li
                                .cnt-item-level
                                  .icon
                                    img( src="../../assets/images/cc-green.png" alt="menu")
                                  .cnt 
                                    span DEF:12
                                    span.green +11
                          .list-infor
                            .item-infor
                              h4 Item set Bonus:
                              ul
                                li - 2 Items: +1 STR, +1 AGI, +3 IN
                                li - 4 Items: +29 HP, +2 Evade, +3 Magical Defense, +3 Physical Defense
                                li - 6 Items: +2 STR, +2 AGI, +5 INT, +2 LUK, +7 Magical Defense, +4 Physical 
                              p Defense, Absorb: 20% chance to absorb 15 of the inflicted damage and recover as HP.
                            .item-infor
                              h4 The Serenity Set (6):
                              ul 
                                li - Serenity Armor
                                li - Serenity Armor
                                li - Serenity Armor
                                li - Serenity Armor
                                li - Serenity Armor
                                li - Serenity Armor
                            .item-infor 
                              h4 Requirement:
                              ul 
                                li 
                                  span.title - Level:
                                  span.cnt 3
                                li 
                                  span.title - Gender:
                                  span.cnt Female
                                li 
                                  span.title - Race: 
                                  span.cnt Fairy
        .content-list-table
          .container
            .item-table
              .row
                .col-md-6
                  .cnt-table
                    .title-table
                      h3 Listings
                      button.btn.btn-clear-filter List
                    .cnt-table-responsive
                      .table-responsive
                        table.table
                          thead
                            tr
                              th From
                              th price
                              th date
                              th 
                          tbody
                            tr
                              td.text-center
                                |0xb8...cc33
                              td.text-center
                                |2.000 TAU
                              td.text-center
                                |4 month ago
                              td 
                                button.btn.btn-accept(data-toggle="modal" data-target="#popupsellItem") Accept
                            tr
                              td.text-center
                                |0xb8...cc33
                              td.text-center
                                |2.000 TAU
                              td.text-center
                                |4 month ago
                              td 
                                button.btn.btn-accept Accept
                            tr
                              td.text-center
                                |0xb8...cc33
                              td.text-center
                                |2.000 TAU
                              td.text-center
                                |4 month ago
                              td 
                                button.btn.btn-accept Accept
                            tr
                              td.text-center
                                |0xb8...cc33
                              td.text-center
                                |2.000 TAU
                              td.text-center
                                |4 month ago
                              td 
                                button.btn.btn-accept Accept
                .col-md-6
                  .cnt-table
                    .title-table
                      h3 offers
                      button.btn.btn-clear-filter make offer
                    .cnt-table-responsive
                      .table-responsive
                        table.table
                          thead
                            tr
                              th From
                              th price
                              th date
                              th 
                          tbody
                            tr
                              td.text-center
                                |0xb8...cc33
                              td.text-center
                                |2.000 TAU
                              td.text-center
                                |4 month ago
                              td 
                                button.btn.btn-accept(data-toggle="modal" data-target="#popupsellItem1") Accept
                            tr
                              td.text-center
                                |0xb8...cc33
                              td.text-center
                                |2.000 TAU
                              td.text-center
                                |4 month ago
                              td 
                                button.btn.btn-accept Accept
                            tr
                              td.text-center
                                |0xb8...cc33
                              td.text-center
                                |2.000 TAU
                              td.text-center
                                |4 month ago
                              td 
                                button.btn.btn-accept Accept
                            tr
                              td.text-center
                                |0xb8...cc33
                              td.text-center
                                |2.000 TAU
                              td.text-center
                                |4 month ago
                              td 
                                button.btn.btn-accept Accept
            .item-table
              .row
                .col-md-12
                  .cnt-table
                    .title-table
                      h3 exchanges
                    .cnt-table-responsive
                      .table-responsive
                        table.table
                          thead
                            tr
                              th From
                              th amount
                              th rule
                              th date
                              th 
                          tbody
                            tr
                              td.text-center
                                |0xb8...cc33
                              td 1
                              td.text-center
                                .cnt-box-rule
                                  .list-item-rule
                                    .item-rule
                                      .icon
                                    .item-rule
                                      i.fa.fa-exchange
                                    .item-rule
                                      .icon
                              td.text-center
                                |4 month ago
                              td 
                                button.btn.btn-accept Accept
                            tr
                              td.text-center
                                |0xb8...cc33
                              td 1
                              td.text-center
                                .cnt-box-rule
                                  .list-item-rule
                                    .item-rule
                                      .icon
                                    .item-rule
                                      i.fa.fa-exchange
                                    .item-rule
                                      .icon
                              td.text-center
                                |4 month ago
                              td 
                                button.btn.btn-accept Accept
                            tr
                              td.text-center
                                |0xb8...cc33
                              td 1
                              td.text-center
                                .cnt-box-rule
                                  .list-item-rule
                                    .item-rule
                                      .icon
                                    .item-rule
                                      i.fa.fa-exchange
                                    .item-rule
                                      .icon
                              td.text-center
                                |4 month ago
                              td 
                                button.btn.btn-accept Accept
                            tr
                              td.text-center
                                |0xb8...cc33
                              td 1
                              td.text-center
                                .cnt-box-rule
                                  .list-item-rule
                                    .item-rule
                                      .icon
                                    .item-rule
                                      i.fa.fa-exchange
                                    .item-rule
                                      .icon
                              td.text-center
                                |4 month ago
                              td 
                                button.btn.btn-accept Accept
                            tr
                              td.text-center
                                |0xb8...cc33
                              td 1
                              td.text-center
                                .cnt-box-rule
                                  .list-item-rule
                                    .item-rule
                                      .icon
                                    .item-rule
                                      i.fa.fa-exchange
                                    .item-rule
                                      .icon
                              td.text-center
                                |4 month ago
                              td 
                                button.btn.btn-accept Accept
            .item-table
              .row
                .col-md-12
                  .cnt-table
                    .title-table
                      h3 transaction history
                    .cnt-table-responsive
                      .table-responsive
                        table.table
                          thead
                            tr
                              th Event
                              th From
                              th to
                              th price
                              th date 
                          tbody
                            tr
                              td
                                .form-check
                                  input.form-check-input#exampleChecktb(type="checkbox")
                                  label.form-check-label(for="exampleChecktb") offer
                              td.text-center
                                |0xb8...cc33
                              td 1
                              td 
                                |2,000 Tau
                              td.text-center
                                |4 month ago
                            tr
                              td
                                .form-check
                                  input.form-check-input#exampleChecktb1(type="checkbox")
                                  label.form-check-label(for="exampleChecktb1") List
                              td.text-center
                                |0xb8...cc33
                              td 1
                              td 
                                |2,000 Tau
                              td.text-center
                                |4 month ago
                            tr
                              td
                                .form-check
                                  input.form-check-input#exampleChecktb2(type="checkbox")
                                  label.form-check-label(for="exampleChecktb2") offer
                              td.text-center
                                |0xb8...cc33
                              td 1
                              td 
                                |2,000 Tau
                              td.text-center
                                |4 month ago
                            tr
                              td
                                .form-check
                                  input.form-check-input#exampleChecktb3(type="checkbox")
                                  label.form-check-label(for="exampleChecktb3") List
                              td.text-center
                                |0xb8...cc33
                              td 1
                              td 
                                |2,000 Tau
                              td.text-center
                                |4 month ago

                           
                           

                                


      
    // .page-content
  // .member
  //.page-container
  ="\n"
  include ../includes/footer.jade
  
  ="\n"
  include ../includes/popupBanAcc.jade
  ="\n"
  include ../includes/popupBanAcc1.jade