.page-footer
	.container
		.row
			.col-md-6
				.logo
					a(href="#")
						img(src="../../assets/images/logo/logoft.png", alt='index')
				.text-contact
					a(href="#") Contact@ theatlantis.io
					.copy-right
						|@ 2021 Atlantis Metaverse. All Right Reserved
			.col-md-3
				h3 About
				ul
					li
						a.link-page(href='#', target='_blank') White
					li
						a.link-page(href='#', target='_blank') Project
					li
						a.link-page(href='#', target='_blank') Token
			.col-md-3
				h3 social
				ul.list-social
					li
						a.link-app(href='#', target='_blank') 
							i.fa.fa-paper-plane-o(aria-hidden="true")
					li
						a.link-app(href='#', target='_blank') 
							i.fa.fa-twitter(aria-hidden="true")
					li
						a.link-app(href='#', target='_blank') 
							i.fa.fa-youtube-play(aria-hidden="true")
						
  
