.header-fix
    .page-header
      .page-header-inner.container
        // BEGIN LOGO
        .logo
          a(href="main.html")
              img(src="../../assets/images/logo/logo.png", alt='index')
        .page-menu-inner.container
          .cos-menu.md-full
              ul.cos-nav-menu
                  li
                    a.dashboard.active(href='main.html', alt='Dashboard') 
                      span Dashboard
                  li
                    a.validators(href='validators.html', alt='Validators')  
                      span Validators
                  li
                    a.blocks(href='blocks.html', alt='Blocks')
                      span Blocks
                  li
                    a.transactions(href='transactions.html', alt='Transactions') 
                      span Transactions
                  li
                    a.votings(href='votings.html', alt='Votings') 
                      span Votings
.clearfix