.header-fix
    .page-header
      .mobi-overlay
        .close
      .container
        .page-header-inner
          // BEGIN LOGO
          .logo
            a(href="main.html")
              img(src="../../assets/images/logo/logo.png", alt='index')
          .page-menu
            .page-menu-inner
              .cos-menu
                ul.cos-nav-menu
                    li
                      a.item-link.active(href='#', alt='Hero') 
                        span Hero
                    li
                      a.item-link(href='#', alt='Item')  
                        span Item
                    li
                      a.item-link(href='#', alt='Staking')
                        span Staking
                    li
                      a.item-link(href='#', alt='Summon') 
                        span Summon
                    li
                      a.item-link(href='#', alt='Gacha') 
                        span Gacha
                    li
                      a.item-link(href='#', alt='Wallet') 
                        span Wallet
          .link-button-contact
            a(href="#") Connect Wallet
          <button type="button" class="burger" id="burger">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
          </button>
.clearfix