.sidebar-left
  .left_col.scroll-view
    #sidebar-menu.main_menu_side.hidden-print.main_menu
      .menu_section
        //- h3 General
        ul.nav.side-menu
          li
            a(title="Home")
              i.fa.fa-home
              |  Home 
              span.fa.fa-chevron-down
          li
            a
              i.fa.fa-edit
              |  Forms 
              span.fa.fa-chevron-down
          li
            a
              i.fa.fa-desktop
              |  UI Elements 
              span.fa.fa-chevron-down
          li
            a
              i.fa.fa-table
              |  Tables 
              span.fa.fa-chevron-down
          li
            a
              i.fa.fa-bar-chart-o
              |  Data Presentation 
              span.fa.fa-chevron-down
          li
            a
              i.fa.fa-clone
              | Layouts 
              span.fa.fa-chevron-down

    // sidebar menu
    // /sidebar menu
    // /menu footer buttons
    
    // /menu footer buttons
// .left_col
