.page-sidebar-wrapper
  .page-sidebar
    .cnt-filter
      h3 Filter
      button.btn.btn-clear-filter Clear filter
    .cnt-orderby
      .title
        |Sort buy
      .cnt-order-buy
        .select-dropdown
          select
            option(value='') Select
            option(value='Option 1') Option 1
            option(value='Option 2') Option 2
            option(value='Option 3') Option 3
            option(value='Option 4') Option 4
    ul.page-sidebar-menu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
      li.menu-active
        h3.title
          span 
            |Races
          span (1)
        .list-check
          ="\n"
          .form-check
            input#exampleCheck1.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck1" ) Poseidon
          .form-check
            input#exampleCheck2.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck2" ) Poseidon
          .form-check
            input#exampleCheck3.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck3" ) Poseidon
          .form-check
            input#exampleCheck4.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck4" ) Poseidon
          .form-check
            input#exampleCheck5.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck5" ) Poseidon
          .form-check
            input#exampleCheck6.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck6" ) Poseidon
          .form-check
            input#exampleCheck7.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck7" ) Poseidon
      li.menu-active
        h3.title
          span 
            |Races
          span (1)
        .list-check
          ="\n"
          .form-check
            input#exampleCheck01.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck01" ) Common
          .form-check
            input#exampleCheck02.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck02" ) Uncommon
          .form-check
            input#exampleCheck03.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck03" ) Rare
          .form-check
            input#exampleCheck04.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck04" ) Epic
          .form-check
            input#exampleCheck05.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck05" ) Legend
          .form-check
            input#exampleCheck06.form-check-input(type="checkbox")
            label.form-check-label(for="exampleCheck06" ) Mythic
          ="\n"
      li
        h3
          span.title 
            |Element
        .list-check
          ="\n"
          .list-item-fire
            .item-fire
              .form-check
                input#exampleCheck001.form-check-input(type="checkbox")
                label.form-check-label(for="exampleCheck001" ) 
                  span.icon-fire
                    img(src="../../assets/images/fire.png" alt="Hero")
                  span Fire
            .item-fire
              .form-check
                input#exampleCheck002.form-check-input(type="checkbox")
                label.form-check-label(for="exampleCheck002" ) 
                  span.icon-fire
                    img(src="../../assets/images/fire.png" alt="Hero")
                  span Fire
            .item-fire
              .form-check
                input#exampleCheck003.form-check-input(type="checkbox")
                label.form-check-label(for="exampleCheck003" )
                  span.icon-fire
                    img(src="../../assets/images/fire.png" alt="Hero")
                  span Fire
            .item-fire
              .form-check
                input#exampleCheck004.form-check-input(type="checkbox")
                label.form-check-label(for="exampleCheck004" ) 
                  span.icon-fire
                    img(src="../../assets/images/fire.png" alt="Hero")
                  span Fire
            .item-fire            
              .form-check
                input#exampleCheck005.form-check-input(type="checkbox")
                label.form-check-label(for="exampleCheck005" )
                  span.icon-fire
                    img(src="../../assets/images/fire.png" alt="Hero")
                  span Fire
            .item-fire
              .form-check
                input#exampleCheck006.form-check-input(type="checkbox")
                label.form-check-label(for="exampleCheck006" )
                  span.icon-fire
                    img(src="../../assets/images/fire.png" alt="Hero")
                  span Fire
      li
        h3
          span.title 
            |Level
        .item-level
          h4.number 25
          <div class="form-group">
            <input type="range" class="custom-range" id="customRange1">
            <label for="customRange1">
            <span>0</span>
            <span class="float-right">100</span>
            </label>
          </div>
      li
        h3
          span.title 
            |Element
        .list-check
          ="\n"
          .list-item-fire
            .item-fire
              .form-check
                input#exampleCheck011.form-check-input(type="checkbox")
                label.form-check-label(for="exampleCheck011" ) 
                  span.icon-fire
                    img(src="../../assets/images/fire.png" alt="Hero")
                  span Fire
            .item-fire
              .form-check
                input#exampleCheck012.form-check-input(type="checkbox")
                label.form-check-label(for="exampleCheck012" ) 
                  span.icon-fire
                    img(src="../../assets/images/fire.png" alt="Hero")
                  span Fire
    ="\n"
// .page-sidebar-wrapper
