.page-sidebar-wrapper.vetical-menu
  .page-sidebar.navbar-collapse.collapse
    .container
      ul.page-sidebar-menu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
        li.active
          a(href='home.html')
            span.title 예약내역 관리

        ="\n"
        li
          a(href='member.html')
            span.title 회원 관리

        ="\n"
        li
          a(href='product.html')
            span.title 상품 관리

        ="\n"
        li
          a(href='board-epilogue.html')
            span.title 게시물 관리

        ="\n"
        li
          a(href='customer-notice.html')
            span.title 고객센터

        ="\n"
        li
          a(href='mng-settlement.html')
            span.title 정산관리

        ="\n"
        li
          a(href='main-banner.html')
            span.title 메인 관리

        ="\n"
        li
          a(href='course.html')
            span.title 코스 관리
        ="\n"
        li
          a(href='course.html')
            span.title 코스 관리
// .page-sidebar-wrapper
