#popupaddmassage.modal.fade(tabindex='-1', aria-hidden='true', data-backdrop="static" data-keyboard="false")
  .modal-dialog
    .modal-content
      .modal-header
        h3 받는 사람 선택
        button.close(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body.checkall.checkbox-list
        .title.full.mrb-30
          h4.pull-left.bold 상담사명 검색
          button.btn.default.pull-right 검색
        .modal-list
          .mrb-20.full
            input#all(type='checkbox', value='1', name='all')
            span 전체 선택 (모든 상담사)
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
          .mrb-20.full
            label
              input(type='checkbox', value='1', name='service')
              span 김태희
        
          // Are you sure you want to delete?
      .modal-footer(style="text-align: center;")
        a.btn.green(href="#") 선택 완료
// .popupConfirmDelete
