#popupBanAcc.modal.fade(tabindex='-1', aria-hidden='true', data-backdrop="static" data-keyboard="false")
  .modal-dialog
    .modal-content
      .modal-header
        h3 회원 제재
        button.close(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
        h4
          strong 회원을 제재한 경우 로그인이 제한되고, 제재 기간은 1주일입니다. 제재 하시겠습니까?
          // Are you sure you want to delete?
      .modal-footer
        a.btn.red.btn-confirm(href="#") 확인
        button.btn.btn-default(type='button', data-dismiss='modal') 취소
// .popupConfirmDelete
