#popupConfirmDelete.modal.fade(tabindex='-1', aria-hidden='true', data-backdrop="static" data-keyboard="false")
  .modal-dialog
    .modal-content
      .modal-header
        h4.bold 중복 확인
        button.close(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
        p 이미 등록된 고유번호입니다.
          // Are you sure you want to delete?
      .modal-footer
        a.btn.red.btn-confirm(href="#") 확인
        button.btn.btn-default(type='button', data-dismiss='modal') 취소
// .popupConfirmDelete
