#popupUploadAgain.modal.fade(tabindex='-1', aria-hidden='true', data-backdrop='static' data-keyboard='false')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
        strong.text-danger 21MB 이하 이미지 형태의 파일만 등록 가능합니다.(jpg, jpeg, gif, png)?
        // Only 21MB or less in the form of image files can be registered. (jpg, jpeg, gif, png.)
      .modal-footer
        button.btn.default(type='button', data-dismiss='modal') 취소
// .popupUploadAgain
