#popupsellItem.modal.fade(tabindex='-1', aria-hidden='true', data-backdrop="static" data-keyboard="false")
  .modal-dialog
    .modal-content
      .modal-header
        h3 Sell Item
        button.close(type='button', data-dismiss='modal', aria-hidden='true') x
      .modal-body
        h4
          |Are you sure to Sell this Serenity Helmet with
        .number-tau 
          h5 0,79999 TAU
        .cnt-view-tau
          span.title Current balance:
          span.tau o Tau
          // Are you sure you want to delete?
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.red.btn-confirm Sell
// .popupConfirmDelete
