#popupfind-id.modal.fade(tabindex='-1', aria-hidden='true', data-backdrop="static" data-keyboard="false")
  .modal-dialog
    .modal-content
      .modal-header
        h4.bold 아이디 찾기
        button.close(type='button', data-dismiss='modal', aria-hidden='true')
      .modal-body
        .full
          .col-md-10
            input.form-control.pull-left(type="text" value ='01-01')
          .col-md-2
            button.btn.green.width-100 검색
        .full
          .col-md-6
            a.btn.green.width-100 아이디
          .col-md-6
            a.btn.green.width-100 이름
        .full
          .col-md-12
            table.table.table-striped.table-bordered.table-hover.align-middle.text-center
              tbody
                tr
                  td.width50 abcd
                  td 배워봅시다.
                tr
                  td.width50 abcd
                  td 배워봅시다.
                tr
                  td.width50 abcd
                  td 배워봅시다.
      
// .popupConfirmDelete
