@font-size0:35px;
@font-text01:30px;
@font-text02:10px;
@color-text01:#fff;
@color-th:#8DF2FB;
@color-even:#E8FDFF;
@color-border:#707070;
@bgr_sidebar:linear-gradient(rgb(10, 63, 74) 24%, rgb(10, 63, 74) 25%, rgb(12, 55, 74) 35%, rgb(18, 33, 75) 62%, rgb(18, 33, 75) 91%, rgb(18, 33, 75) 100%);
@btn_yellow:#fca51e;
@color_mustard:#be7b13;

a{
	color:#3C6FFC;
}
body {
  font-weight: normal;
  font-size: 16px;
  min-height: 100vh;
  height: 100%;
  font-family: @font-primary;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.btn.active, .btn:active{
	box-shadow: none!important;
}
	
a:focus, a:hover{
	text-decoration: none;
}
/* Safari */
input{
	 appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none!!important;
}
.page-container{
  position: relative;
  z-index: 1;
  margin-top: 69px!important;
  border-top: 2px solid #02BC77;
  .content-wrapper{
  	padding-top: 40px;
  }
}
label{
	font-weight: inherit;
}
ul{
	list-style: none;
	padding-left:0px;
}
img{
	max-width: 100%;
	height: auto;
}
.modal-backdrop.in{
	opacity: 0.8;
}
.home{
	background-image: url(../../assets/images/bgr_home.jpg);
	background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:gray;
}
.page-header{
	  margin: 0;
    padding-bottom: 0;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    border-bottom:0;
    padding-top: 24px;
    z-index: 10;
  .page-header-inner{
		display: flex;
    align-items: center;
    justify-content: space-between;
	}
  .logo{
    float: left;
    max-width: 180px;
    width: 100%;
    a{
      display: inline-block;
      line-height: 60px;
    }
  }

  .page-menu{
  	float:right;
	  .cos-nav-menu{
	    margin: 0;
	    display: inline-block;
	    width: 100%;
	    padding: 0;
	    text-align: center;
	    li{
	      display: inline-block;
	      a{
	        font-size: 20px;
	        line-height: ;i
	        display: block;
	        padding: 0 20px;
	        line-height: 30px;
	        color: @btn_yellow;
	        position: relative;
	        font-weight: bold;
	        span{
	          margin-left: 6px;
	        }
	      }
	    }
	  }
	}
	.link-button-contact{
		a{
			padding: 10px 20px;
	    border: 1px solid #d9b275;
	    border-radius: 10px;
	    background: @color_mustard;
	    color:@color-text01;
	    text-transform: uppercase;
	    font-size: 20px;
	    font-weight: 700;
		}
	}
} 
.page-content-wrapper{
	.banner{
		min-height: 100vh;
		position:relative;
		.content-block{
			  position: absolute;
		    bottom: 0px;
		    left: 50%;
		    width: 55%;
		    transform: translateX(-50%);
		  .cnt-hero{
		  	.text-hero{
		  		max-width: 50%;
			    height: 250px;
			    margin: 0 auto;
			    margin-bottom: -90px;
			    z-index: 2;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    color: #fff;
			    font-size: 31px;
			    font-weight: 700;
			    text-transform: uppercase;
		  	}
		  }
	    .blocks-status{
		    display: flex;
		    justify-content: space-between;
		    align-items: center;
		    padding: 15px 12%;
		    border-radius: 10px;
		    color: #222;
		    line-height: 1.2;
		    font-size: 15px;
		    min-height: 220px;
		    z-index: -1;
    		position: relative;
		    .status-items{
		      text-align:center;
		      width: 33%;
		      .title{
		        font-size: 18px;
		        line-height: 30px;
		        color: #fff;
		        font-weight: 400;
		      }
		      .number{
		        font-size: 36px;
		        line-height: 42px;
		        color: #fff;
		        font-weight: 700;
		      }
	    	}
	  	}
		}	
	}
	.list-content{
		padding-top:36px;
		.sidebar-left {
	    width: 250px;
	    float: left;
	    padding: 30px 0px 30px 0;
	    background: @color-text01;
		}
		.content-home{
			width: calc(100% - 250px);
			float: left;
			padding-left:15px;
		}
	}
	
}
.page-footer{
	border-top:2px solid #05779d;
	padding-top:40px;
	padding-bottom:95px;
	a{
		color: @color-text01;
		font-size: 18px;
		line-height: 26px;
	}
	h3{
		font-size: 24px;
		line-height: 40px;
		margin-top: 0;
		color: @color-text01;
		font-weight: 700;
		text-transform: uppercase;
	}
	.logo{
		margin-bottom: 26px;
		text-align: center;
		img{
			width: 300px;
		}
	}
	.text-contact{
		text-align: center;
		font-size: 18px;
		line-height: 26px;
		color: @color-text01;

	}
	.list-social{
		display: flex;
		align-items:center;
		li{
			padding-right:10px;
			a{
				width: 32px;
		    height: 32px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    background: @color-text01;
		    border-radius: 50%;
		    color: #092d4b;
			}
		}
	}
}
.page-sidebar-wrapper{
  		max-width: 340px;
  		float: left;
  		width: 100%;
  		.page-sidebar-menu{
  			li{
  				border:2px solid #0a7495;
  				margin-bottom: 50px;
  				border-radius: 20px;
  				padding:5px 15px;
  				h3{
  					font-size: 20px;
				    line-height: 1.2;
				    font-weight: bold;
				    text-align: center;
				    margin: 0;
				    color: #fff;
				    text-transform: uppercase;
				    margin: 0 auto;
				    background-image: url(../../assets/images/bgr-title.png);
				    background-position: center;
				    display: table;
				    background-repeat: no-repeat;
				    background-size: contain;
				    max-width: 135px;
				    width: 100%;
  				}
  			}
  		}
  		.form-check{
  				padding-bottom: 10px;
  				margin-bottom: 10px;
  				border-bottom: 1px solid #0588ae;
  				position: relative;
  				&:after{
  					position:absolute;
  					width: 20px;
  					height: 20px;
  					border-radius: 50%;
  					background-color:#00d0ff;
  					content: "";
  					top: 0;
    				right: 0;
  				}
  			input {
			    display: none!important;
			    &:checked + label{
			    	&:after {
					    content: '';
					    display: block;
					    position: absolute;
					    top: 2px;
					    left: 3px;
					    background:url("../../assets/images/check.png");
			        width: 21px;
					    height: 14px;
					    background-size: contain;
					    background-position: center;
					    background-repeat: no-repeat;
					  }
					}
				}
				label {
			    position: relative;
			    cursor: pointer;
			    display: flex;
			    line-height: 20px;
			    font-size: 18px;
			    font-weight: 700;
			    color: #fff;
			    &:before {
				    content: '';
				    -webkit-appearance: none;
				    border: 1px solid #0588ae;
				    padding: 6px 9px;
				    display: inline-block;
				    position: relative;
				    vertical-align: middle;
				    cursor: pointer;
				    margin-right: 10px;
				    border-radius: 3px;
					}
				}

  		} 
  		.list-check{
  			padding: 20px 0;
  		}
  		.cnt-filter{
				display: flex;
		    justify-content: space-between;
		    align-items: center;
		    padding-bottom:32px;
		    h3{
		    	color: #fff;
		    	font-size: 30px;
		    	line-height: 1.4;
		    	font-weight:700;
		    	margin: 0;
		    }
		    button{
		    	font-size: 18px;
		    	line-height: 1.2;
		    	font-weight: 400;
		    	border-radius: 20px;
		    	box-shadow: inset 0 0 5px #fff;
		    	background: transparent;
			    max-width: 160px;
			    width: 100%;
			    color: #fff;
			    line-height: 26px;
		    }
			}
			.cnt-orderby{
				display: flex;
		    justify-content: space-between;
		    align-items: center;
		    padding: 0px 40px 18px;
		    background-image:url(../../assets/images/bgr_sort.png);
		    background-position: center;
		    background-repeat: no-repeat;
		    background-size: cover;
		    min-height: 100px;
		    margin-bottom: 50px;
		    .title{
		    	font-size: 20px;
		    	line-height: 1.4;
		    	color: #fff;
		    	font-weight:700;
		    }
		    .form-control{
		    	background-color: transparent;
		    	border:0;
		    	color: #fff;
		    	option{
		    		color: #0a7495;
		    		line-height: 20px;
		    	}
		    }
			}
  	}
  	.content-wapper-page{
  		float: left;
  		width: calc(100% - 340px);
  		.list-item{
  			.item{
  				width: 33.33%;
  				padding-left: 15px;
  				padding-right: 15px;
  				float:left;
  				margin-bottom: 30px;
  				&.is-content{
  					.item-content{
	  					background-color: #fff;
	  					border:2px solid #131211;
	  					&:hover{
	  						&:before{
	  							display: block;
	  							transition: 0.3s all;
	  						}
	  					}	
	  				}
  				}
  				&.no-content{
  					.item-content{
  						background-image: url(../../assets/images/bgr_side.png);
	  					background-size: cover;
				    	background-position: center;
				    	background-repeat: no-repeat;
				    	min-height: 338px;
  					}
  				}
  				.item-content{
  					&:before{
  						position: absolute;
					    right: -7px;
					    bottom: -7px;
					    width: 100%;
					    height: 100%;
					    content: "";
					    z-index: -1;
					    border-right: 5px solid #131211;
					    border-bottom: 5px solid #131211;
					    display: none;
					    transition: 0.3s all;
  					}
  					
  					padding: 12px;
  					position: relative;
  					z-index: 1;
  					.thumbnails{
  						border-bottom: 2px solid #131211;
  					}
  					.text-name{
  						position: absolute;
					    left: 0;
					    top: 8px;
					    background: #000;
					    padding: 5px 15px;
					    color: #fff;
  					}
  					.content{
  						h3{
  							margin-top: 10px;
  							a{
  								color: #131211;
  								font-size: 18px;
  								line-height: 24px;
  								font-weight: 700;
  							}
  						}
  						.cnt-detail{
  							span{
  								font-size: 16px;
  								line-height: 21px;
  								color: #131211;
  							}
  							.bgr-cnt{
  								background-color: #EFEFEF;
							    border-radius: 12px;
							    color: #131211;
							    line-height: 24px;
							    padding: 3px 10px;
							    margin-left: 10px;
  							}
  						}
  					}
  				}
  			}
  		}
  	}