[data-animate] {
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}
/* Fade In Up */
@-webkit-keyframes ts-fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 1.25rem, 0);
    transform: translate3d(0, 1.25rem, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes ts-fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 1.25rem, 0);
    transform: translate3d(0, 1.25rem, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.ts-fadeInUp {
  -webkit-animation-name: ts-fadeInUp;
  animation-name: ts-fadeInUp;
}
/* Fade In Down */
@-webkit-keyframes ts-fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -1.25rem, 0);
    transform: translate3d(0, -1.25rem, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes ts-fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -1.25rem, 0);
    transform: translate3d(0, -1.25rem, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.ts-fadeInDown {
  -webkit-animation-name: ts-fadeInDown;
  animation-name: ts-fadeInDown;
}
/* Fade In Left */
@-webkit-keyframes ts-fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-1.25rem, 0, 0);
    transform: translate3d(-1.25rem, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes ts-fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-1.25rem, 0, 0);
    transform: translate3d(-1.25rem, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.ts-fadeInLeft {
  -webkit-animation-name: ts-fadeInLeft;
  animation-name: ts-fadeInLeft;
}
/* Fade In Right */
@-webkit-keyframes ts-fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(1.25rem, 0, 0);
    transform: translate3d(1.25rem, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes ts-fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(1.25rem, 0, 0);
    transform: translate3d(1.25rem, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.ts-fadeInRight {
  -webkit-animation-name: ts-fadeInRight;
  animation-name: ts-fadeInRight;
}
/* Zoom In */
@-webkit-keyframes ts-zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes ts-zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.ts-zoomIn {
  -webkit-animation-name: ts-zoomIn;
  animation-name: ts-zoomIn;
}
/* Zoom Out In */
@-webkit-keyframes ts-zoomOutIn {
  from {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes ts-zoomOutIn {
  from {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.ts-zoomOutIn {
  -webkit-animation-name: ts-zoomOutIn;
  animation-name: ts-zoomOutIn;
}
/* Zoom In Short */
@-webkit-keyframes ts-zoomInShort {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes ts-zoomInShort {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.ts-zoomInShort {
  -webkit-animation-name: ts-zoomInShort;
  animation-name: ts-zoomInShort;
}
[data-bg-image] {
  background-size: cover;
  background-position: 50%;
}
.ts-background {
  bottom: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.ts-background .ts-background {
  height: 100%;
  width: 100%;
}
.ts-background-repeat {
  background-repeat: repeat;
  background-size: inherit;
}
.ts-background-repeat .ts-background-image {
  background-repeat: repeat;
  background-size: inherit;
}
.ts-background-no-repeat {
  background-repeat: no-repeat;
  background-size: inherit;
}
.ts-background-no-repeat .ts-background-image {
  background-repeat: no-repeat;
  background-size: inherit;
}
.ts-background-image,
.ts-img-into-bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.ts-background-original-size {
  background-size: inherit;
}
.ts-background-size-cover {
  background-size: cover;
}
.ts-background-size-contain {
  background-size: contain;
}
.ts-background-repeat-x {
  background-repeat: repeat-x;
}
.ts-background-repeat-y {
  background-repeat: repeat-y;
}
.ts-background-repeat-repeat {
  background-repeat: repeat;
  background-size: inherit;
}
.ts-background-position-top {
  background-position: top;
}
.ts-background-position-center {
  background-position: center;
}
.ts-background-position-bottom {
  background-position: bottom;
}
.ts-background-position-left {
  background-position-x: left !important;
}
.ts-background-position-right {
  background-position-x: right !important;
}
.ts-background-particles {
  height: 120%;
  left: 0;
  margin-left: -10%;
  margin-top: -10%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 120%;
  z-index: 1;
}
.ts-background-is-dark {
  color: #fff;
}
.ts-background-is-dark .form-control {
  -webkit-box-shadow: 0 0 0 0.125rem rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 0.125rem rgba(255, 255, 255, 0.2);
}
.ts-background-is-dark .form-control:focus {
  -webkit-box-shadow: 0 0 0 0.125rem rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 0 0.125rem rgba(255, 255, 255, 0.4);
}
.ts-background-is-dark .ts-btn-border-muted {
  border-color: rgba(255, 255, 255, 0.1);
}
.ts-video-bg {
  height: 100%;
}
.ts-video-bg .fluid-width-video-wrapper {
  height: 100%;
}
/* --------------------------------------------------------------------- */
/* COMMON STYLING
/* --------------------------------------------------------------------- */
body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 14px;
}
.rw-f12 {
  font-size: 12px;
}
.rw-f14 {
  font-size: 14px;
}
.rw-f16 {
  font-size: 16px;
}
.rw-f18 {
  font-size: 18px;
}
.rw-f20 {
  font-size: 20px;
}
.rw-f22 {
  font-size: 22px;
}
.rw-f24 {
  font-size: 24px;
}
.rw-f26 {
  font-size: 26px;
}
.rw-f28 {
  font-size: 28px;
}
.rw-f30 {
  font-size: 30px;
}
.rw-f32 {
  font-size: 32px;
}
.rw-f34 {
  font-size: 34px;
}
.rw-f36 {
  font-size: 36px;
}
.rw-f38 {
  font-size: 38px;
}
.rw-f40 {
  font-size: 40px;
}
.rw-f42 {
  font-size: 42px;
}
.rw-f44 {
  font-size: 44px;
}
.rw-f46 {
  font-size: 46px;
}
.rw-f48 {
  font-size: 48px;
}
.rw-f50 {
  font-size: 50px;
}
.rw-f52 {
  font-size: 52px;
}
.rw-f54 {
  font-size: 54px;
}
.rw-f56 {
  font-size: 56px;
}
.rw-f58 {
  font-size: 58px;
}
.rw-f60 {
  font-size: 60px;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a {
  color: #26a69a;
}
a:hover {
  color: #1c7d74;
}
a:focus {
  color: #26a69a;
}
.rw-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.rw-show {
  display: block !important;
}
.rw-hidden {
  display: none !important;
}
.rw-margin-auto {
  margin: auto;
}
.page-bar .page-breadcrumb > li > a,
.page-bar .page-breadcrumb > li > span,
.page-bar .page-breadcrumb > li > i {
  font-size: 34px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
.primary-font {
  font-family: 'Lato', sans-serif !important;
}
.chart,
.pie,
.bars {
  font-family: 'Lato', sans-serif !important;
}
.label {
  font-family: 'Lato', sans-serif;
}
.table.table-light > thead > tr > th {
  font-family: 'Lato', sans-serif;
}
.rw-pb-50 {
  padding-bottom: 50px;
}
.rw-border-top {
  border-top: 1px solid #e1e1e1;
}
.rw-border-bottom {
  border-bottom: 1px solid #e1e1e1;
}
.rw-overflow-ellipsis {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.rw-gap {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.rw-bg-white {
  background-color: #fff;
}
.rw-bg-gray {
  background-color: #f5f5f5;
}
.tabbable-custom > .nav-tabs > li > a {
  font-size: 16px;
}
.tabbable-custom > .nav-tabs > li > a,
.tabbable-custom > .nav-tabs > li > a:hover {
  color: #555;
}
.tabbable-custom > .nav-tabs > li.active {
  border-color: #26a69a;
}
.tabbable-custom > .nav-tabs > li.active > a,
.tabbable-custom > .nav-tabs > li.active > a:hover {
  font-weight: bold;
  color: #26a69a;
}
.rw-btn-radio-wrapper .btn.active {
  color: #fff;
  border-color: #26a69a;
  background: #26a69a;
}
.rw-btn-checkbox-wrapper .btn.active {
  color: #fff;
  background: #26a69a;
}
.rw-badge-o {
  color: #26a69a;
}
.rw-badge-x {
  color: #F3565D;
}
.rw-col-wrapper:before,
.rw-col-wrapper:after {
  content: " ";
  clear: both;
  display: table;
}
.rw-col-wrapper .rw-col {
  float: left;
}
.rw-col-wrapper .rw-col-left {
  float: left;
}
.rw-col-wrapper .rw-col-right {
  float: right;
}
table.text-center tr th,
table.text-center tr td {
  text-align: center;
}
.rw-dp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  vertical-align: top;
  border-collapse: collapse;
}
.rw-dp-table-caption {
  display: table-caption;
}
.rw-dp-table-row {
  display: table-row;
}
.rw-dp-table-cell {
  display: table-cell;
  vertical-align: top;
}
.rw-dp-table-cell.align-top {
  vertical-align: top;
}
.rw-dp-table-cell.align-middle {
  vertical-align: middle;
}
.rw-dp-table-cell.align-bottom {
  vertical-align: bottom;
}
.rw-dp-table-cell.no-border {
  border: 0 none;
}
.rw-dp-table.align-top .rw-dp-table-cell {
  vertical-align: top;
}
.rw-dp-table.align-middle .rw-dp-table-cell {
  vertical-align: middle;
}
.rw-dp-table.align-bottom .rw-dp-table-cell {
  vertical-align: bottom;
}
.rw-dp-table.no-border .rw-dp-table-cell {
  border: 0 none;
}
.rw-dp-ib {
  display: inline-block;
  vertical-align: top;
}
.rw-dp-ib.align-top {
  vertical-align: top;
}
.rw-dp-ib.align-middle {
  vertical-align: middle;
}
.rw-dp-ib.align-bottom {
  vertical-align: bottom;
}
.modal-header:before,
.modal-body:before,
.modal-footer:before,
.modal-header:after,
.modal-body:after,
.modal-footer:after {
  content: " ";
  clear: both;
  display: table;
}
.rw-pagination {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.rw-pagination:before,
.rw-pagination:after {
  content: " ";
  clear: both;
  display: table;
}
.rw-pagination .pagination {
  display: inline-block;
  vertical-align: middle;
}
.rw-pagination .pagination > li > a:focus,
.rw-pagination .pagination > li > span:focus {
  color: #5b9bd1;
  background: #fff;
}
.rw-pagination .pagination .active > a,
.rw-pagination .pagination .active > a:hover {
  color: #fff;
  background: #26a69a;
  border-color: #26a69a;
}
.rw-container-style-1 {
  max-width: 888px;
  margin-left: auto;
  margin-right: auto;
}
.rw-container-style-1:before,
.rw-container-style-1:after {
  content: " ";
  clear: both;
  display: table;
}
.rw-block-style-1:before,
.rw-block-style-1:after {
  content: " ";
  clear: both;
  display: table;
}
.rw-block-style-1 .block-1-thumb {
  width: 200px;
}
.rw-block-style-1 .block-1-thumb-img {
  display: block;
  width: 170px;
  height: 210px;
  background-repeat: no-repeat;
  background-size: cover;
}
.rw-block-style-1 .block-1-title {
  margin-top: 0;
}
.rw-block-style-1 .block-1-info table td {
  padding: 3px 15px;
}
.rw-block-style-1 .block-1-info .rw-dp-table {
  width: auto;
}
.rw-block-style-1 .block-1-info .col-table table {
  margin-right: 20px;
}
@media screen and (min-width: 1200px) {
  .rw-modal-large .modal-dialog {
    width: 1000px;
  }
}
@media screen and (max-width: 1199px) {
  .rw-modal-large .modal-dialog {
    width: auto;
  }
}
.rw-thumb-style-1 .thumb-img {
  display: block;
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}
.rw-file-upload .no-image {
  display: none;
}
.rw-file-upload .preview-image {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 40px;
}
.rw-file-upload .preview-image img {
  margin-left: auto;
  margin-right: auto;
}
.rw-file-upload .show-file-info {
  min-height: 34px;
  line-height: 34px;
  height: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  padding-top: 0;
  padding-bottom: 0;
}
.rw-file-upload .btn-delete {
  cursor: pointer;
}
[class*="tr-block-style-"]:before,
[class*="tr-block-style-"]:after {
  content: " ";
  clear: both;
  display: table;
}
.tr-block-style-1 .tr-file-upload {
  float: left;
}
.tr-block-style-1 .btn-select-file {
  /* visibility: hidden; */
  background: #D9D9D9;
  border: 1px solid #cccccc;
  color: #333333;
  display: inline-block;
  padding: 3px 25px;
  position: relative;
  bottom: 20px;
  left: 10px;
  /* opacity: 0; */
  /* position: absolute;
      right: 10px;
      top: 10px;
      left: auto;
      bottom: auto; */
  cursor: pointer;
  min-width: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  /* &:active {
        opacity: 0.6 !important;
        transition: none;
      } */
}
.tr-block-style-1 .btn-select-file img {
  display: block !important;
}
.tr-block-style-1 .preview-image {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #fff;
  padding: 0;
  margin: 0;
  border-radius: 50%!important;
}
.tr-block-style-1 .preview-image > .image-bg {
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: center top;
  margin: 0;
  border-radius: 50% !important;
}
.tr-block-style-1 .preview-image.no-image {
  background-color: #f1f1f1;
}
.tr-block-style-1 .preview-image.no-image > .image-bg {
  display: none;
}
.tr-block-style-1 .preview-image:hover .btn-select-file {
  visibility: visible;
  opacity: 1;
}
.tr-block-style-1 .note-input-img {
  display: inline-block;
  text-align: left;
  margin-left: 20px;
  position: relative;
  bottom: 8px;
}
@media screen and (max-width: 1919px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 1365px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 1199px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 991px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 767px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 479px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (max-width: 319px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 320px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 480px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 768px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 992px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 1366px) {
  .test-responsive {
    color: #fff;
  }
}
@media screen and (min-width: 1920px) {
  .test-responsive {
    color: #fff;
  }
}
a {
  color: #3C6FFC;
}
body {
  font-weight: normal;
  font-size: 16px;
  min-height: 100vh;
  height: 100%;
  font-family: 'Lato', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.btn.active,
.btn:active {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
a:focus,
a:hover {
  text-decoration: none;
}
/* Safari */
input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
.page-container {
  position: relative;
  z-index: 1;
  margin-top: 69px!important;
  border-top: 2px solid #02BC77;
}
.page-container .content-wrapper {
  padding-top: 40px;
}
label {
  font-weight: inherit;
}
ul {
  list-style: none;
  padding-left: 0px;
}
img {
  max-width: 100%;
  height: auto;
}
.modal-backdrop.in {
  opacity: 0.8;
}
.home {
  background-color: gray;
}
.header-fix.scrolled .page-header {
  padding-top: 5px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  background-color: #fff;
  padding-bottom: 5px;
}
.header-fix.scrolled .page-header .logo a {
  max-width: 140px;
}
.header-fix.scrolled .page-header ul li a:hover,
.header-fix.scrolled .page-header ul li a .active {
  color: #b0874f;
}
.page-header {
  margin: 0;
  padding-bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  border-bottom: 0;
  padding-top: 24px;
  z-index: 10;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.page-header .page-header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page-header .logo {
  float: left;
  max-width: 180px;
  width: 100%;
  text-align: center;
}
.page-header .logo a {
  display: inline-block;
  line-height: 60px;
}
.page-header .page-menu {
  float: right;
}
.page-header .page-menu .cos-nav-menu {
  margin: 0;
  display: inline-block;
  width: 100%;
  padding: 0;
  text-align: center;
}
.page-header .page-menu .cos-nav-menu li {
  display: inline-block;
}
.page-header .page-menu .cos-nav-menu li a {
  font-size: 20px;
  line-height: 1.2;
  display: block;
  padding: 0 20px;
  line-height: 30px;
  color: #fca51e;
  position: relative;
  font-weight: bold;
}
.page-header .page-menu .cos-nav-menu li a span {
  margin-left: 6px;
}
.page-header .page-menu .cos-nav-menu li a:hover,
.page-header .page-menu .cos-nav-menu li a .active {
  color: #fff;
}
.page-header .link-button-contact a {
  padding: 10px 20px;
  border: 1px solid #d9b275;
  border-radius: 10px;
  background: #be7b13;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}
.page-content-wrapper .banner {
  background-image: url(../../assets/images/bgr_home.png);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray;
  min-height: 100vh;
  position: relative;
}
.page-content-wrapper .banner .content-block {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 55%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.page-content-wrapper .banner .content-block .cnt-hero .text-hero {
  max-width: 50%;
  height: 250px;
  margin: 0 auto;
  margin-bottom: -30px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 31px;
  font-weight: 700;
  text-transform: uppercase;
}
.page-content-wrapper .banner .content-block .blocks-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  color: #222;
  line-height: 1.2;
  font-size: 15px;
  z-index: -1;
  position: relative;
  background-color: rgba(0, 208, 255, 0.17);
  border: 1px solid #00d0ff !important;
  -webkit-box-shadow: inset 0 0 15px #fff;
  box-shadow: inset 0 0 15px #fff;
}
.page-content-wrapper .banner .content-block .blocks-status::before {
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 10px;
  content: " ";
  border: 2px solid rgba(0, 209, 255, 0.3);
  -webkit-box-shadow: 0 0px 12px #00d0ff;
  box-shadow: 0 0px 12px #00d0ff;
}
.page-content-wrapper .banner .content-block .blocks-status .icon-ab {
  position: absolute;
  max-width: 150px;
}
.page-content-wrapper .banner .content-block .blocks-status .icon-ab.icon-left {
  left: -75px;
  bottom: -50px;
}
.page-content-wrapper .banner .content-block .blocks-status .icon-ab.icon-right {
  right: -75px;
  top: -50px;
}
.page-content-wrapper .banner .content-block .blocks-status .status-items {
  text-align: center;
  width: 33%;
}
.page-content-wrapper .banner .content-block .blocks-status .status-items .title {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  font-weight: 400;
}
.page-content-wrapper .banner .content-block .blocks-status .status-items .number {
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  font-weight: 700;
}
.page-content-wrapper .list-content {
  background-image: url(../../assets/images/bgr_home.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray;
  padding-top: 60px;
}
.page-content-wrapper .list-content .sidebar-left {
  width: 250px;
  float: left;
  padding: 30px 0px 30px 0;
  background: #fff;
}
.page-content-wrapper .list-content .content-home {
  width: calc(100% - 250px);
  float: left;
  padding-left: 15px;
}
.page-footer {
  border-top: 2px solid #05779d;
  padding-top: 40px;
  padding-bottom: 95px;
  background-image: url("../../assets/images/bgr_ft.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-footer a {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}
.page-footer h3 {
  font-size: 24px;
  line-height: 40px;
  margin-top: 0;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.page-footer .logo {
  margin-bottom: 26px;
  text-align: center;
}
.page-footer .logo img {
  width: 300px;
}
.page-footer .text-contact {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}
.page-footer .list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page-footer .list-social li {
  padding-right: 10px;
}
.page-footer .list-social li a {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  color: #092d4b;
}
.page-sidebar-wrapper {
  max-width: 340px;
  float: left;
  width: 100%;
}
.page-sidebar-wrapper .page-sidebar-menu li {
  border: 2px solid #0a7495;
  margin-bottom: 50px;
  border-radius: 20px;
  padding: 5px 15px;
}
.page-sidebar-wrapper .page-sidebar-menu li h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  background-color: #00d7db;
  border: 1px solid #00ffff;
  -webkit-box-shadow: inset 0 0 25px #007885;
  box-shadow: inset 0 0 25px #007885;
  display: table;
  max-width: 170px;
  line-height: 40px;
  width: 100%;
  border-radius: 7px;
  margin-top: -26px;
}
.page-sidebar-wrapper .page-sidebar-menu .item-level h4 {
  font-size: 36px;
  line-height: 1.2;
  color: #fff;
  font-weight: 400;
  max-width: 100px;
  width: 100%;
  display: table;
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 30px;
}
.page-sidebar-wrapper .page-sidebar-menu .item-level .form-group {
  margin-top: 29px;
}
.page-sidebar-wrapper .page-sidebar-menu .item-level .form-group input[type=range] {
  width: 100%;
  height: 1rem;
  padding: 0;
  background-color: #02eff2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 10px;
}
.page-sidebar-wrapper .page-sidebar-menu .item-level .form-group label {
  display: block;
  color: #fff;
  padding: 5px 0;
}
.page-sidebar-wrapper .page-sidebar-menu .item-level .form-group label .float-right {
  float: right;
}
.page-sidebar-wrapper .form-check {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #0588ae;
  position: relative;
}
.page-sidebar-wrapper .form-check:after {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00d0ff;
  content: "";
  top: 0;
  right: 0;
}
.page-sidebar-wrapper .form-check input {
  display: none!important;
}
.page-sidebar-wrapper .form-check input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 3px;
  background: url("../../assets/images/check.png");
  width: 21px;
  height: 14px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.page-sidebar-wrapper .form-check label {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.page-sidebar-wrapper .form-check label:before {
  content: '';
  -webkit-appearance: none;
  border: 1px solid #0588ae;
  padding: 6px 9px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 3px;
  width: 20px;
  height: 20px;
}
.page-sidebar-wrapper .list-check {
  padding: 20px 0;
}
.page-sidebar-wrapper .list-check .list-item-fire {
  display: table;
  width: 100%;
}
.page-sidebar-wrapper .list-check .list-item-fire .item-fire {
  width: 50%;
  float: left;
}
.page-sidebar-wrapper .list-check .list-item-fire .item-fire .form-check:after {
  display: none;
}
.page-sidebar-wrapper .list-check .list-item-fire .item-fire .form-check {
  border-bottom: 0;
  margin-bottom: 0;
}
.page-sidebar-wrapper .list-check .list-item-fire .item-fire .form-check .icon-fire {
  padding-right: 10px;
}
.page-sidebar-wrapper .list-check .list-item-fire .item-fire .form-check input:checked + label:after {
  top: 14px;
}
.page-sidebar-wrapper .cnt-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 32px;
}
.page-sidebar-wrapper .cnt-filter h3 {
  color: #fff;
  font-size: 30px;
  line-height: 1.4;
  font-weight: 700;
  margin: 0;
}
.page-sidebar-wrapper .cnt-filter button {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 5px #fff;
  box-shadow: inset 0 0 5px #fff;
  background: transparent;
  max-width: 160px;
  width: 100%;
  color: #fff;
  line-height: 26px;
}
.page-sidebar-wrapper .cnt-orderby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 40px 0px;
  background-image: url(../../assets/images/bgr_sort.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  margin-bottom: 50px;
}
.page-sidebar-wrapper .cnt-orderby .cnt-order-buy .dropdown {
  display: inline-block;
  border-radius: 2px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  font-size: 18px;
  color: #fff;
  height: 100%;
  text-align: left;
}
.page-sidebar-wrapper .cnt-orderby .cnt-order-buy .dropdown:focus-visible {
  outline: none;
}
.page-sidebar-wrapper .cnt-orderby .cnt-order-buy .dropdown .select {
  cursor: pointer;
  display: block;
  padding: 10px;
}
.page-sidebar-wrapper .cnt-orderby .cnt-order-buy .dropdown .select > i {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: right;
  line-height: 28px;
  padding-left: 10px;
}
.page-sidebar-wrapper .cnt-orderby .cnt-order-buy .dropdown .select > i.fa-caret-up {
  display: none;
}
.page-sidebar-wrapper .cnt-orderby .cnt-order-buy .dropdown.active .select > i.fa-caret-up {
  display: block;
}
.page-sidebar-wrapper .cnt-orderby .cnt-order-buy .dropdown.active .select > i.fa-caret-down {
  display: none;
}
.page-sidebar-wrapper .cnt-orderby .cnt-order-buy .dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 0px;
  overflow: hidden;
  display: none;
  overflow-y: auto;
  z-index: 9;
}
.page-sidebar-wrapper .cnt-orderby .cnt-order-buy .dropdown .dropdown-menu li {
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #000;
  font-size: 18px;
}
.page-sidebar-wrapper .cnt-orderby .cnt-order-buy .dropdown .dropdown-menu {
  padding: 0;
  list-style: none;
}
.page-sidebar-wrapper .cnt-orderby .cnt-order-buy .dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2;
}
.page-sidebar-wrapper .cnt-orderby .cnt-order-buy .dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
}
.page-sidebar-wrapper .cnt-orderby .title {
  font-size: 20px;
  line-height: 1.4;
  color: #6adaf4;
  font-weight: 700;
}
.page-sidebar-wrapper .cnt-orderby .form-control {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 18px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.page-sidebar-wrapper .cnt-orderby .form-control option {
  color: #0a7495;
  line-height: 20px;
}
.content-wapper-page {
  float: left;
  width: calc(100% - 340px);
  padding-left: 35px;
}
.content-wapper-page .cnt-hero-switch .list-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 20px;
  margin-top: -25px;
}
.content-wapper-page .cnt-hero-switch .item-switch {
  padding-left: 40px;
}
.content-wapper-page .cnt-hero-switch .item-switch .text {
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  padding-bottom: 5px;
}
.content-wapper-page .cnt-hero-switch .item-switch .input-check input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
}
.content-wapper-page .cnt-hero-switch .item-switch .input-check label {
  cursor: pointer;
  width: 90px;
  height: 40px;
  background: grey;
  display: block;
  border-radius: 40px;
  position: relative;
}
.content-wapper-page .cnt-hero-switch .item-switch .input-check label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.content-wapper-page .cnt-hero-switch .item-switch .input-check input:checked + label {
  background: #fca51e;
}
.content-wapper-page .cnt-hero-switch .item-switch .input-check input:checked + label:after {
  left: calc(100% - 3px);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.content-wapper-page .cnt-hero-switch .item-switch .input-check label:active:after {
  width: 40px;
}
.content-wapper-page .list-item {
  display: table;
  width: 100%;
}
.content-wapper-page .list-item .item {
  width: 33.33%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  margin-bottom: 30px;
}
.content-wapper-page .list-item .item .item-content {
  padding: 0px;
  position: relative;
  z-index: 1;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
}
.content-wapper-page .list-item .item .item-content::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  border-radius: 10px;
}
.content-wapper-page .list-item .item .item-content .thumbnails {
  position: relative;
}
.content-wapper-page .list-item .item .item-content .thumbnails .img-nv {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  padding: 0px 0 10px;
  text-align: center;
}
.content-wapper-page .list-item .item .item-content .thumbnails .img-nv img {
  height: 300px;
}
.content-wapper-page .list-item .item .item-content .thumbnails .img-circle {
  position: absolute;
  bottom: 35px;
  max-width: 76%;
  width: 100%;
  z-index: -1;
  left: calc(50% - 38%);
  text-align: center;
}
.content-wapper-page .list-item .item .item-content .thumbnails .ts-background {
  z-index: -1;
}
.content-wapper-page .list-item .item .item-content .thumbnails .cnt-text-thumb {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 15px;
}
.content-wapper-page .list-item .item .item-content .thumbnails .cnt-text-thumb .cnt-thumb-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content-wapper-page .list-item .item .item-content .thumbnails .cnt-text-thumb .cnt-thumb-top .id-cnt {
  background-color: #fca51e;
  color: #fff;
  padding: 3px 7px;
  border-radius: 6px;
  font-weight: 700;
}
.content-wapper-page .list-item .item .item-content .thumbnails .cnt-text-thumb .cnt-thumb-top h3 {
  margin: 0;
  color: #fff;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}
.content-wapper-page .list-item .item .item-content .text-name {
  position: absolute;
  left: 0;
  top: 8px;
  background: #000;
  padding: 5px 15px;
  color: #fff;
}
.content-wapper-page .list-item .item .item-content .content .cnt-level-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content-wapper-page .list-item .item .item-content .content .cnt-level-top .level-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content-wapper-page .list-item .item .item-content .content .cnt-level-top .level-left .icon-lv {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 7px;
}
.content-wapper-page .list-item .item .item-content .content .cnt-level-top .list-helmet {
  display: table;
  width: 100%;
}
.content-wapper-page .list-item .item .item-content .content .cnt-level-top .list-helmet .item-hel {
  width: 50%;
  float: left;
  color: #fff;
  font-size: 18px;
}
.content-wapper-page .list-item .item .item-content .content .cnt-level-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content-wapper-page .list-item .item .item-content .content .cnt-level-top ul li {
  padding: 0 12px;
}
.content-wapper-page .list-item .item .item-content .content .cnt-level-top ul li span {
  color: #fff;
  display: block;
  text-transform: uppercase;
  text-align: center;
}
.content-wapper-page .list-item .item .item-content .content .cnt-level-top ul li span:last-child {
  font-weight: 700;
}
.content-wapper-page .list-item .item .item-content .content .cnt-bottom {
  text-align: center;
  padding-top: 20px;
}
.content-wapper-page .list-item .item .item-content .content .cnt-bottom .cnt-tau {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 8px 15px;
  margin: 0 auto;
  border-radius: 5px;
  max-width: 80%;
  width: 100%;
  border: 1px solid;
}
.content-wapper-page .list-item .item .item-content .content .cnt-bottom .cnt-tau .text {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  padding: 0 8px;
}
.content-wapper-page .list-item .item .item-content .content .cnt-bottom .cnt-tau .cnt-dolar {
  font-size: 15px;
  color: #fff;
}
.content-wapper-page .list-item .item.item-blue .item-content {
  -webkit-box-shadow: inset 0 0 10px #6adaf4;
  box-shadow: inset 0 0 10px #6adaf4;
  border-color: #16cffb;
}
.content-wapper-page .list-item .item.item-blue .item-content::before {
  -webkit-box-shadow: 0 0 10px #6adaf4;
  box-shadow: 0 0 10px #6adaf4;
}
.content-wapper-page .list-item .item.item-blue .item-content .level-left .icon-lv {
  background-color: #16cffb;
}
.content-wapper-page .list-item .item.item-blue .item-content .cnt-bottom .cnt-tau {
  border-color: #16cffb;
}
.content-wapper-page .list-item .item.item-blue:hover .item-content {
  -webkit-box-shadow: inset 0 0 15px #16cffb;
  box-shadow: inset 0 0 15px #16cffb;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.content-wapper-page .list-item .item.item-blue:hover .item-content::before {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-box-shadow: 0 0 15px #16cffb;
  box-shadow: 0 0 15px #16cffb;
}
.content-wapper-page .list-item .item.item-green .item-content {
  -webkit-box-shadow: inset 0 0 7px #89cf1d;
  box-shadow: inset 0 0 7px #89cf1d;
  border-color: #89cf1d;
}
.content-wapper-page .list-item .item.item-green .item-content::before {
  -webkit-box-shadow: 0 0 7px #89cf1d;
  box-shadow: 0 0 7px #89cf1d;
}
.content-wapper-page .list-item .item.item-green .item-content .level-left .icon-lv {
  background-color: #89cf1d;
}
.content-wapper-page .list-item .item.item-green .item-content .cnt-bottom .cnt-tau {
  border-color: #89cf1d;
}
.content-wapper-page .list-item .item.item-green:hover .item-content {
  -webkit-box-shadow: inset 0 0 15px #89cf1d;
  box-shadow: inset 0 0 15px #89cf1d;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.content-wapper-page .list-item .item.item-green:hover .item-content::before {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-box-shadow: 0 0 15px #89cf1d;
  box-shadow: 0 0 15px #89cf1d;
}
.content-wapper-page .list-item .item.item-yellow .item-content {
  -webkit-box-shadow: inset 0 0 7px #fca51e;
  box-shadow: inset 0 0 7px #fca51e;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  border-color: #fca51e;
}
.content-wapper-page .list-item .item.item-yellow .item-content::before {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-box-shadow: 0 0 7px #fca51e;
  box-shadow: 0 0 7px #fca51e;
}
.content-wapper-page .list-item .item.item-yellow .item-content .level-left .icon-lv {
  background-color: #fca51e;
}
.content-wapper-page .list-item .item.item-yellow .item-content .cnt-bottom .cnt-tau {
  border-color: #fca51e;
}
.content-wapper-page .list-item .item.item-yellow:hover .item-content {
  -webkit-box-shadow: inset 0 0 15px #fca51e;
  box-shadow: inset 0 0 15px #fca51e;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.content-wapper-page .list-item .item.item-yellow:hover .item-content::before {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-box-shadow: 0 0 15px #fca51e;
  box-shadow: 0 0 15px #fca51e;
}
.page-detail {
  background-image: url(../../assets/images/bgr-detail.jpg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray;
  min-height: 100vh;
  position: relative;
}
.page-detail .content-detail {
  padding-top: 180px;
}
.page-detail .content-detail .content-left .back-link {
  max-width: 160px;
  width: 100%;
}
.page-detail .content-detail .content-left .back-link a {
  -webkit-box-shadow: inset 0 0 5px #fff;
  box-shadow: inset 0 0 5px #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px 10px;
}
.page-detail .content-detail .content-left .back-link a .icon {
  padding-right: 8px;
}
.page-detail .content-detail .content-left .balance-cnt {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}
.page-detail .content-detail .content-left .balance-cnt .cnt-balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 15% 0px;
  background-image: url(../../assets/images/bgr_sort.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
}
.page-detail .content-detail .content-left .balance-cnt .cnt-balance span {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.page-detail .content-detail .content-left .balance-cnt .cnt-balance span.number {
  font-size: 60px;
  line-height: 1.2;
}
.page-detail .content-detail .content-left .cnt-title-character h3 {
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}
.page-detail .content-detail .content-left .thumbnails {
  text-align: center;
  padding-top: 30px;
}
.page-detail .content-detail .content-right .cnt-detail-top .cnt-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page-detail .content-detail .content-right .cnt-detail-top .cnt-top .cnt-left .id-cnt {
  background-color: #fca51e;
  color: #fff;
  padding: 3px 7px;
  border-radius: 6px;
  font-weight: 700;
}
.page-detail .content-detail .content-right .cnt-detail-top .cnt-top .cnt-center .cnt-tau {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 8px 15px;
  margin: 0 auto;
  border-radius: 5px;
  width: 100%;
  color: #fff;
}
.page-detail .content-detail .content-right .cnt-detail-top .cnt-top .cnt-center .cnt-tau .text {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  padding: 0 8px;
}
.page-detail .content-detail .content-right .cnt-detail-top .cnt-top .cnt-right button {
  padding: 10px 20px;
  border: 1px solid #d9b275;
  border-radius: 30px;
  background: #be7b13;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  width: 170px;
}
.page-detail .content-detail .content-right .cnt-detail-top .contet-center-status {
  margin: 30px 0;
}
.page-detail .content-detail .content-right .cnt-detail-top .contet-center-status .blocks-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  color: #222;
  line-height: 1.2;
  font-size: 15px;
  position: relative;
  background-color: rgba(0, 208, 255, 0.17);
  border: 1px solid #00d0ff !important;
  -webkit-box-shadow: inset 0 0 15px #fff;
  box-shadow: inset 0 0 15px #fff;
}
.page-detail .content-detail .content-right .cnt-detail-top .contet-center-status .blocks-status::before {
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 10px;
  content: " ";
  border: 2px solid rgba(0, 209, 255, 0.3);
  -webkit-box-shadow: 0 0px 12px #00d0ff;
  box-shadow: 0 0px 12px #00d0ff;
}
.page-detail .content-detail .content-right .cnt-detail-top .contet-center-status .blocks-status .status-items {
  text-align: center;
  width: 33%;
}
.page-detail .content-detail .content-right .cnt-detail-top .contet-center-status .blocks-status .status-items .title {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  font-weight: 400;
}
.page-detail .content-detail .content-right .cnt-detail-top .contet-center-status .blocks-status .status-items .sub-title {
  font-size: 36px;
  line-height: 42px;
  color: #fff;
}
.page-detail .content-detail .content-right .cnt-detail-top .contet-center-status .blocks-status .status-items .sub-title.blue {
  color: #02eff2;
}
.page-detail .content-detail .content-right .cnt-detail-top .contet-center-status .blocks-status .status-items .sub-title.bold {
  font-weight: 700;
}
.page-detail .content-detail .content-right .cnt-detail-top .cnt-infor-character .cnt-infor {
  border: 4px solid #00d0ff;
  border-radius: 15px;
}
.page-detail .content-detail .content-right .cnt-detail-top .cnt-infor-character .cnt-infor .title-top {
  padding: 15px 0;
  border-bottom: 1px solid #00d0ff;
}
.page-detail .content-detail .content-right .cnt-detail-top .cnt-infor-character .cnt-infor .title-top h3 {
  font-size: 40px;
  line-height: 1.4;
  color: #16cffb;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.page-detail .content-detail .content-right .cnt-detail-top .cnt-infor-character .cnt-infor .title-top h3 span {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
}
.page-detail .content-detail .content-right .cnt-detail-top .cnt-infor-character .cnt-infor .title-top h3 span.number {
  padding-left: 10px;
  color: #fff;
}
.page-detail .content-detail .content-right .cnt-detail-top .cnt-infor-character .cnt-infor .title-top h3 span.green {
  color: #41dd28;
}
.page-detail .content-detail .content-right .cnt-detail-top .cnt-infor-character .cnt-detail-chara .list-level ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-detail .content-detail .content-right .cnt-detail-top .cnt-infor-character .cnt-detail-chara .list-level ul li {
  width: 25%;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1460px;
    width: 100%;
  }
}
